{% extends "base.html" %}

{% block carrusel %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Task', 'Hours per Day'],
          {% for a in pa %}
             ['{{a.name}}', {{a.data}}],
          {% endfor %}
        ]);

        var options = {
          title:'Porcentaje de defunciones por anios de defunción',
          pieHole: 0.6,
        };

         var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
 
    <div id="donutchart" style="width: 1000px; height: 600px;"></div>
    
{% endblock %}
