{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Defunciones Fetales | IEEDEF</title>
    
    <!-- core CSS -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li clase="active"><a href="{% url 'datos.views.index' %}">Home</a></li>
                        <li><a href="{% url 'datos.views.acerca_de' %}">Acerca de</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Datos estadísticos <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'datos.views.reporte' %}">Defunciones Fetales</a></li>
                                <li><a href="{% url 'datos.views.defunciones_generales' %}">Defunciones Generales</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas fetales <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'datos.views.sexo' %}">Sexo </a></li>
                                <li><a href="{% url 'datos.views.anio_def' %}">Anio defuncion </a></li>
                                <li><a href="{% url 'datos.views.hijos_nac_muertos' %}">Hijos muertos </a>
                                <li><a href="{% url 'datos.views.estado_civil' %}">Estado civil madre </a>
                                <li><a href="{% url 'datos.views.etnia' %}">Etnia madre </a></li>
                                <li><a href="{% url 'datos.views.provincia' %}">Provincia de defunción </a>
                                <li><a href="{% url 'datos.views.lugar' %}">Lugar de defunción </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas Generales <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'datos.views.sexo2' %}">Sexo </a></li>
                                <li><a href="{% url 'datos.views.anio_def_gen' %}">Anio defunción </a></li>
                                <li><a href="{% url 'datos.views.prov_general' %}">Provincia de defunción </a>
                                <li><a href="{% url 'datos.views.lugar_def_gen' %}">Lugar de defunción </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapas <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>                    
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
        
        <div>
            {% block carrusel %}
            {% endblock %}
        </div>


    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="10ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Compañía</h3>
                        <ul>
                            <li><a href="#">Acerca de nosotros</a></li>
                            <li><a href="#">Trabaje para nosotros</a></li>
                            <li><a href="#">Conozca nuestro equipo de trabajo</a></li>
                            <li><a href="#">Términos de uso</a></li>
                            <li><a href="#">Políticas de privacidad</a></li>
                            <li><a href="#">Contáctenos</a></li>
                        </ul>
                    </div>    
                </div>

                <div align=center class="col-sm-6 hidden-xs animation animated-item-4">
                    <div class="slider-img">
                        <img src="{% static 'images/slider/fondo.png' %}" class="img-responsive" order=0>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>DIRECCIÓN</h3>
                        <ul>
                            <li><a href="#">Eduardo Kingman y Gobernación de Mainas</a></li>
                            <li><a href="#">Loja - Ecuador</a></li>
                            <li><a href="#">Teléfono: (+593-2) 2232303</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Miguel Herrera, Andrea Córdova</a>. Todos los derechos reservados.
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>