
{% extends "base3.html" %}

{% block contenido %}

<p>Datos acerca de Defunciones Fetales</p>

<hr/>

<div class="row">
    <div class="col-md-8">
        <table id="example" class="table table-striped table-bordered display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>id_defun_fetal</th>
                    <th>sexo</th>
                    <th>anio_def</th>
                    <th>sem_gestac</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>id_defun_fetal</th>
                    <th>sexo</th>
                    <th>anio_def</th>
                    <th>sem_gestac</th>
                </tr>
            </tfoot>

            <tbody class="searchable">
                    {% for p in fetales %}
                        <tr>
                            <th>{{p.id_defun_fetal}}</th>
                            <td>{{p.sexo}}</td>
                            <td>{{p.anio_def}}</td>
                            <td>{{p.sem_gestac}}</td>
                        </tr>
                    {% endfor %}
                
            </tbody>
        </table>

    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        console.log('llegando');
        $('#example tfoot th').each( function () {
                var title = $('#example thead th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );

            var table = $('#example').DataTable();
            
            // Apply the search
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );      
    });
</script> 
{% endblock %}
